services:
  builder:
    build:
      context: .
      dockerfile: docker/Dockerfile.builder.${PLATFORM:-pi5}
    volumes:
      - ./build:/build
      - ./examples:/src/examples
      - ./scripts/build_examples.sh:/scripts/build_examples.sh
  sandbox:
    build:
      context: .
      dockerfile: docker/Dockerfile.sandbox.${PLATFORM:-pi5}
    volumes:
      - ./dropbox:/app/dropbox:z
      - ./examples/webview/start_webview.py:/app/start_webview.py
    privileged: true
